<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <title>ToDo</title>
</head>
<header>
    <nav>
        <div>
            <ul class="nav-bar">
              
              <li class="nav-item">
                <a class="nav-link" href="/">Home Quests</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/work">Career Quests</a>
              </li>
             
            </ul>
          </div>
    </nav>
    <div class="date">
        <% let d= new Date() %>
        <% let today = d.toDateString() %>
        <h1><%= today %></h1>
    </div>
</header>
<body>
<main>